---
import EntryTitle from '@/components/entry/EntryTitle.astro'
import Body from '@/components/layout/Body.astro'
import Content from '@/components/layout/Content.astro'
import Footer from '@/components/layout/Footer.astro'
import Head from '@/components/layout/Head.astro'
import Header from '@/components/layout/Header.astro'
import Html from '@/components/layout/Html.astro'
import Main from '@/components/layout/Main.astro'
import Sidebar from '@/components/layout/Sidebar.astro'
import Lead from '@/components/Lead.astro'
import Prose from '@/components/Prose.astro'
import WidgetNav from '@/components/widget/WidgetNav.astro'

const title = 'Confessional Statement'
const description =
  'The following Confessional Statement is presented here with the permission of The Gospel Coalition of which Berean Bible Church is a member.'

const breadcrumbs = [
  { href: '/', label: 'Home' },
  { href: Astro.url.pathname, label: title },
]

const toc = [
  { href: '#the-triune-god', label: '1. The Tri-une God' },
  { href: '#revelation', label: '2. Revelation' },
  { href: '#creation-of-humanity', label: '3. Creation of Humanity' },
  { href: '#the-fall', label: '4. The Fall' },
  { href: '#the-gospel', label: '5. The Gospel' },
  { href: '#the-redemption-of-christ', label: '6. The Redemption of Christ' },
  { href: '#the-justification-of-sinners', label: '7. The Justification of Sinners' },
  { href: '#the-power-of-the-holy-spirit', label: '8. The Power of the Holy Spirit' },
  { href: '#the-kingdom-of-god', label: '9. The Kingdom of God' },
  { href: '#gods-new-people', label: `10. God's New People` },
  { href: '#baptism-and-the-lords-supper', label: `11. Baptism and the Lord's Supper` },
  { href: '#the-restoration-of-all-things', label: '12. The Restoration of All Things' },
]
---

<Html>
  <Head
    title={title}
    description={description}
  />

  <Body>
    <Header breadcrumbs={breadcrumbs} />

    <Content>
      <Main>
        <article>
          <header>
            <EntryTitle>{title}</EntryTitle>
          </header>

          <Prose class="mt-6">
            <Lead>
              The following Confessional Statement is presented here with the permission of The
              Gospel Coalition of which Berean Bible Church is a member.
            </Lead>

            <h2 id="the-triune-god">1. The Tri-une God</h2>

            <p>
              We believe in one God, eternally existing in three equally divine Persons: the Father,
              the Son, and the Holy Spirit, who know, love, and glorify one another. This one true
              and living God is infinitely perfect both in his love and in his holiness. He is the
              Creator of all things, visible and invisible, and is therefore worthy to receive all
              glory and adoration. Immortal and eternal, he perfectly and exhaustively knows the end
              from the beginning, sustains and sovereignly rules over all things, and providentially
              brings about his eternal good purposes to redeem a people for himself and restore his
              fallen creation, to the praise of his glorious grace.
            </p>

            <h2 id="revelation">2. Revelation</h2>

            <p>
              God has graciously disclosed his existence and power in the created order, and has
              supremely revealed himself to fallen human beings in the person of his Son, the
              incarnate Word. Moreover, this God is a speaking God who by his Spirit has graciously
              disclosed himself in human words: we believe that God has inspired the words preserved
              in the Scriptures, the sixty-six books of the Old and New Testaments, which are both
              record and means of his saving work in the world. These writings alone constitute the
              verbally inspired Word of God, which is utterly authoritative and without error in the
              original writings, complete in its revelation of his will for salvation, sufficient
              for all that God requires us to believe and do, and final in its authority over every
              domain of knowledge to which it speaks. We confess that both our finitude and our
              sinfulness preclude the possibility of knowing God's truth exhaustively, but we affirm
              that, enlightened by the Spirit of God, we can know God's revealed truth truly. The
              Bible is to be believed, as God's instruction, in all that it teaches; obeyed, as
              God's command, in all that it requires; and trusted, as God's pledge, in all that it
              promises. As God's people hear, believe, and do the Word, they are equipped as
              disciples of Christ and witnesses to the gospel.
            </p>

            <h2 id="creation-of-humanity">3. Creation of Humanity</h2>

            <p>
              We believe that God created human beings, male and female, in his own image. Adam and
              Eve belonged to the created order that God himself declared to be very good, serving
              as God's agents to care for, manage, and govern creation, living in holy and devoted
              fellowship with their Maker. Men and women, equally made in the image of God, enjoy
              equal access to God by faith in Christ Jesus and are both called to move beyond
              passive self-indulgence to significant private and public engagement in family,
              church, and civic life. Adam and Eve were made to complement each other in a one-flesh
              union that establishes the only normative pattern of sexual relations for men and
              women, such that marriage ultimately serves as a type of the union between Christ and
              his church. In God's wise purposes, men and women are not simply interchangeable, but
              rather they complement each other in mutually enriching ways. God ordains that they
              assume distinctive roles which reflect the loving relationship between Christ and the
              church, the husband exercising headship in a way that displays the caring, sacrificial
              love of Christ, and the wife submitting to her husband in a way that models the love
              of the church for her Lord. In the ministry of the church, both men and women are
              encouraged to serve Christ and to be developed to their full potential in the manifold
              ministries of the people of God. The distinctive leadership role within the church
              given to qualified men is grounded in creation, fall, and redemption and must not be
              sidelined by appeals to cultural developments.
            </p>

            <h2 id="the-fall">4. The Fall</h2>

            <p>
              We believe that Adam, made in the image of God, distorted that image and forfeited his
              original blessedness—for himself and all his progeny—by falling into sin through
              Satan's temptation. As a result, all human beings are alienated from God, corrupted in
              every aspect of their being (e.g., physically, mentally, volitionally, emotionally,
              spiritually) and condemned finally and irrevocably to death—apart from God's own
              gracious intervention. The supreme need of all human beings is to be reconciled to the
              God under whose just and holy wrath we stand; the only hope of all human beings is the
              undeserved love of this same God, who alone can rescue us and restore us to himself.
              The Plan of God We believe that from all eternity God determined in grace to save a
              great multitude of guilty sinners from every tribe and language and people and nation,
              and to this end foreknew them and chose them. We believe that God justifies and
              sanctifies those who by grace have faith in Jesus, and that he will one day glorify
              them—all to the praise of his glorious grace. In love God commands and implores all
              people to repent and believe, having set his saving love on those he has chosen and
              having ordained Christ to be their Redeemer. their Redeemer.
            </p>

            <h2 id="the-gospel">5. The Gospel</h2>

            <p>
              We believe that the gospel is the good news of Jesus Christ—God's very wisdom. Utter
              folly to the world, even though it is the power of God to those who are being saved,
              this good news is christological, centering on the cross and resurrection: the gospel
              is not proclaimed if Christ is not proclaimed, and the authentic Christ has not been
              proclaimed if his death and resurrection are not central (the message is: "Christ died
              for our sins...[and] was raised"). This good news is biblical (his death and
              resurrection are according to the Scriptures), theological and salvific (Christ died
              for our sins, to reconcile us to God), historical (if the saving events did not
              happen, our faith is worthless, we are still in our sins, and we are to be pitied more
              than all others), apostolic (the message was entrusted to and transmitted by the
              apostles, who were witnesses of these saving events), and intensely personal (where it
              is received, believed, and held firmly, individual persons are saved).
            </p>

            <h2 id="the-redemption-of-christ">6. The Redemption of Christ</h2>

            <p>
              We believe that, moved by love and in obedience to his Father, the eternal Son became
              human: the Word became flesh, fully God and fully human being, one Person in two
              natures. The man Jesus, the promised Messiah of Israel, was conceived through the
              miraculous agency of the Holy Spirit, and was born of the virgin Mary. He perfectly
              obeyed his heavenly Father, lived a sinless life, performed miraculous signs, was
              crucified under Pontius Pilate, arose bodily from the dead on the third day, and
              ascended into heaven. As the mediatorial King, he is seated at the right hand of God
              the Father, exercising in heaven and on earth all of God's sovereignty, and is our
              High Priest and righteous Advocate. We believe that by his incarnation, life, death,
              resurrection, and ascension, Jesus Christ acted as our representative and substitute.
              He did this so that in him we might become the righteousness of God: on the cross he
              canceled sin, propitiated God, and, by bearing the full penalty of our sins,
              reconciled to God all those who believe. By his resurrection Christ Jesus was
              vindicated by his Father, broke the power of death and defeated Satan who once had
              power over it, and brought everlasting life to all his people; by his ascension he has
              been forever exalted as Lord and has prepared a place for us to be with him. We
              believe that salvation is found in no one else, for there is no other name given under
              heaven by which we must be saved. Because God chose the lowly things of this world,
              the despised things, the things that are not, to nullify the things that are, no human
              being can ever boast before him—Christ Jesus has become for us wisdom from God—that
              is, our righteousness, holiness, and redemption.
            </p>

            <h2 id="the-justification-of-sinners">7. The Justification of Sinners</h2>

            <p>
              We believe that Christ, by his obedience and death, fully discharged the debt of all
              those who are justified. By his sacrifice, he bore in our stead the punishment due us
              for our sins, making a proper, real, and full satisfaction to God's justice on our
              behalf. By his perfect obedience he satisfied the just demands of God on our behalf,
              since by faith alone that perfect obedience is credited to all who trust in Christ
              alone for their acceptance with God. Inasmuch as Christ was given by the Father for
              us, and his obedience and punishment were accepted in place of our own, freely and not
              for anything in us, this justification is solely of free grace, in order that both the
              exact justice and the rich grace of God might be glorified in the justification of
              sinners. We believe that a zeal for personal and public obedience flows from this free
              justification.
            </p>

            <h2 id="the-power-of-the-holy-spirit">8. The Power of the Holy Spirit</h2>

            <p>
              We believe that this salvation, attested in all Scripture and secured by Jesus Christ,
              is applied to his people by the Holy Spirit. Sent by the Father and the Son, the Holy
              Spirit glorifies the Lord Jesus Christ, and, as the other Paraclete, is present with
              and in believers. He convicts the world of sin, righteousness, and judgment, and by
              his powerful and mysterious work regenerates spiritually dead sinners, awakening them
              to repentance and faith, and in him they are baptized into union with the Lord Jesus,
              such that they are justified before God by grace alone through faith alone in Jesus
              Christ alone. By the Spirit's agency, believers are renewed, sanctified, and adopted
              into God's family; they participate in the divine nature and receive his sovereignly
              distributed gifts. The Holy Spirit is himself the down payment of the promised
              inheritance, and in this age indwells, guides, instructs, equips, revives, and
              empowers believers for Christ-like living and service.
            </p>

            <h2 id="the-kingdom-of-god">9. The Kingdom of God</h2>

            <p>
              We believe that those who have been saved by the grace of God through union with
              Christ by faith and through regeneration by the Holy Spirit enter the kingdom of God
              and delight in the blessings of the new covenant: the forgiveness of sins, the inward
              transformation that awakens a desire to glorify, trust, and obey God, and the prospect
              of the glory yet to be revealed. Good works constitute indispensable evidence of
              saving grace. Living as salt in a world that is decaying and light in a world that is
              dark, believers should neither withdraw into seclusion from the world, nor become
              indistinguishable from it: rather, we are to do good to the city, for all the glory
              and honor of the nations is to be offered up to the living God. Recognizing whose
              created order this is, and because we are citizens of God's kingdom, we are to love
              our neighbors as ourselves, doing good to all, especially to those who belong to the
              household of God. The kingdom of God, already present but not fully realized, is the
              exercise of God's sovereignty in the world toward the eventual redemption of all
              creation. The kingdom of God is an invasive power that plunders Satan's dark kingdom
              and regenerates and renovates through repentance and faith the lives of individuals
              rescued from that kingdom. It therefore inevitably establishes a new community of
              human life together under God.
            </p>

            <h2 id="gods-new-people">10. God's New People</h2>

            <p>
              We believe that God's new covenant people have already come to the heavenly Jerusalem;
              they are already seated with Christ in the heavenlies. This universal church is
              manifest in local churches of which Christ is the only Head; thus each "local church"
              is, in fact, the church, the household of God, the assembly of the living God, and the
              pillar and foundation of the truth. The church is the body of Christ, the apple of his
              eye, graven on his hands, and he has pledged himself to her forever. The church is
              distinguished by her gospel message, her sacred ordinances, her discipline, her great
              mission, and, above all, by her love for God, and by her mem- bers' love for one
              another and for the world. Crucially, this gospel we cherish has both personal and
              corporate dimensions, neither of which may properly be overlooked. Christ Jesus is our
              peace: he has not only brought about peace with God, but also peace between alienated
              peoples. His purpose was to create in himself one new humanity, thus making peace, and
              in one body to reconcile both Jew and Gentile to God through the cross, by which he
              put to death their hostility. The church serves as a sign of God's future new world
              when its members live for the service of one another and their neighbors, rather than
              for self-focus. The church is the corporate dwelling place of God's Spirit, and the
              continuing witness to God in the world.
            </p>

            <h2 id="baptism-and-the-lords-supper">11. Baptism and the Lord's Supper</h2>

            <p>
              We believe that baptism and the Lord's Supper are ordained by the Lord Jesus himself.
              The former is con- nected with entrance into the new covenant community, the latter
              with ongoing covenant renewal. Together they are simultaneously God's pledge to us,
              divinely ordained means of grace, our public vows of submission to the once crucified
              and now resurrected Christ, and anticipations of his return and of the consummation of
              all things.
            </p>

            <h2 id="the-restoration-of-all-things">12. The Restoration of All Things</h2>

            <p>
              We believe in the personal, glorious, and bodily return of our Lord Jesus Christ with
              his holy angels, when he will exercise his role as final Judge, and his kingdom will
              be consummated. We believe in the bodily resur- rection of both the just and the
              unjust—the unjust to judgment and eternal conscious punishment in hell, as our Lord
              himself taught, and the just to eternal blessedness in the presence of him who sits on
              the throne and of the Lamb, in the new heaven and the new earth, the home of
              righteousness. On that day the church will be presented faultless before God by the
              obedience, suffering and triumph of Christ, all sin purged and its wretched effects
              forever banished. God will be all in all and his people will be enthralled by the
              immediacy of his ineffable holiness, and everything will be to the praise of his
              glorious grace.
            </p>

            <p>
              For a more complete Confession of faith see <a href="https://www.the1689confession.com">The 1689 Confession</a>.
            </p>
          </Prose>
        </article>
      </Main>

      <Sidebar>
        <WidgetNav
          title="Table of Contents"
          items={toc}
        />
      </Sidebar>
    </Content>
    <Footer />
  </Body>
</Html>
