---
import '../../styles/global.css'

import { ViewTransitions } from 'astro:transitions'

export interface Props {
  description: string
  image?: string
  title: string
}

const { description, image, title } = Astro.props
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1"
  />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/favicon.svg"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta
    name="title"
    content={title}
  />
  <meta
    name="description"
    content={description}
  />

  <!-- Astro -->
  <ViewTransitions />

  <!-- Google -->
  <meta
    name="google-site-verification"
    content="Ua3-yrg0f1qjkE74afVsNPJZjCHzuOIleJThz2Oj7GY"
  />

  <!-- Open Graph / Facebook -->
  <meta
    property="og:type"
    content="website"
  />
  <meta
    property="og:url"
    content={Astro.url}
  />
  <meta
    property="og:title"
    content={title}
  />
  <meta
    property="og:description"
    content={description}
  />
  {
    image && (
      <meta
        property="og:image"
        content={new URL(image, Astro.url)}
      />
    )
  }

  <!-- Twitter -->
  <meta
    property="twitter:card"
    content="summary_large_image"
  />
  <meta
    property="twitter:url"
    content={Astro.url}
  />
  <meta
    property="twitter:title"
    content={title}
  />
  <meta
    property="twitter:description"
    content={description}
  />
  {
    image && (
      <meta
        property="twitter:image"
        content={new URL(image, Astro.url)}
      />
    )
  }

  <!-- Fonts -->
  <link
    rel="dns-prefetch"
    href="https://fonts.googleapis.com/"
  />
  <link
    rel="preconnect"
    href="https://fonts.googleapis.com"
  />
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
  <slot />
</head>
